
@font-face {
  font-family: Ethnocentric;
  src: url(../fonts/Ethnocentric-regular.woff);
}


/*---- INDEX ----*/

/*this is the styling of the main background, its not include the jewels, its just the gold background one*/

#animated-background{
  background-image: url('../image/backgrounds/background.png');
  background-blend-mode: hard-light;
  background-size: cover;
  background-color: black;
  overflow: hidden;
  height: 100vh;
}

/*styling of the first and last row*/

.part{
  height: 5%;
}

/*staling of the boxing belt*/

#image-background{
 position: relative;
 z-index: 2;
 height: 90%;
 background-image: url('../image/backgrounds/belt-background.png');
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

/*styling of the a tag, button to start the game*/

#start-button{
  position: relative;
  font-family: Ethnocentric;
  font-size: 70px;
  top: 11vh;
  z-index: 6;
  animation-duration: 2s;
  animation-name: glowing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-decoration: none;
}

/*this propertie is for the div, this div contain the image of the jewels*/

.moving-jewels{
  display: block;
  z-index: 1;
  width: 3vw;
  height: 0vw;
  position: relative;
  background-size: cover;
}

/*this item make the jewels gif have the size of 57px*/

img{
  width: 57px;
  height: 57px;
}

/*--RESPOSIVE--*/

@media only screen and (max-width: 1400px) {
  #start-button{
    font-size: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  #start-button{
    font-size: 50px;
  }
}
@media only screen and (max-width: 992px) {
  #start-button{
    font-size: 37px;
  } 
} 
@media only screen and (max-width: 768px) {
  #start-button{
    font-size: 27px;
  }
}
@media only screen and (max-width: 575px) {
  #start-button{
    font-size: 5vw;
  } 
}

/*--ANIMATION--*/

@keyframes glowing {
  from{
    text-shadow: 1px 1px 20px white,-1px -1px 20px white,0px 1px 20px white,0px -1px 20px white;
  }
  to{
    text-shadow: 1px 1px 0px white,-1px -1px 0px white,0px 1px 0px white,0px -1px 0px white;
  }
}



/*-------------*/
