@font-face {
    font-family: Ethnocentric;
    src: url(../fonts/Ethnocentric-regular.woff);
  }
  
  
  /*---- INDEX ----*/
  body{
    overflow: hidden;
    min-width: 360px;
    min-height: 640px;
  }
  .center-boxes{
    height: 100%;
  }
  
  body p {
    margin-top: 0px;
    margin-bottom: 0rem;
  }
  /*this is the styling of the main background, its not include the jewels, its just the gold background one*/
  
  #animated-background{
    background-image: url('../image/backgrounds/background.png');
    background-blend-mode: hard-light;
    background-size: cover;
    background-color: black;
    overflow: hidden;
    height: 100vh;
  }
  
  /*styling of the first and last row*/
  
  .part{
    height: 5%;
  }
  
  /*staling of the boxing belt*/
  
  #image-background{
   position: relative;
   z-index: 2;
   height: 100%;
   background-image: url('../image/backgrounds/belt-background.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 650px;
  }
  
  /*styling of the a tag, button to start the game*/
  
  #start-button{
    position: relative;
    font-family: Ethnocentric;
    font-size:35px;
    top: 11vh;
    z-index: 6;
    animation-duration: 2s;
    animation-name: glowing;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-decoration: none;
  }
  
  /*this propertie is for the div, this div contain the image of the jewels*/
  
  .moving-jewels{
    display: block;
    z-index: 1;
    width: 3vw;
    height: 0vw;
    position: relative;
    background-size: cover;
  }
  
  /*this item make the jewels gif have the size of 57px*/
  
  img{
    width: 57px;
    height: 57px;
  }
  .dark-background{
    background-color: rgba(0,0,0,0.5);
  }

  div.row.the-game-elements{
    --bs-gutter-x: 0.3rem;
  }
  
  /*--RESPOSIVE--*/
  @media only screen and (max-width: 4160px) {
  
    /*index*/
    #start-button{
      font-size: 70px;
    }
    #image-background{
      background-size: 1800px;
    }
    /*game*/
    .jewels-to-show-popup p{
      display: block;
      text-align: center;
    }
    .jewels-to-show-popup{
      width: 25%;
      display: inline-table;
      background-color: rgba(0,0,0,0.05);
      border-radius: 15%;
      margin: 2px 2px;
    }
    .swal2-popup.swal2-toast.swal2-show{
      font-family: 'Ethnocentric';
    }
    .swal2-popup.swal2-toast.swal2-show h2{
      text-align: center;
    }
    div .swal2-popup.swal2-toast .swal2-html-container{
      text-align: center;
    }
    .points{
      font-size: 30px;
    }
    .text-squares {
      font-size: 35px;
      margin-bottom: 0rem;
    }
    #game-in-progres {
      height: 80%;
    }
    #panel-score-record {
      height: 15%;
    }
    #tittle {
    height: 8%;
    }
    #bracelettomake {
      height: 20%;
      padding-top: 4px;
    }
    .btn.shapes {
      height: 10vw;
      width: 10vw;
      margin: 25px auto;
      max-width: 120px;
      min-height: 60px;
      min-width: 60px;
      max-height: 120px;
    }
    .btn.colors {
      border-radius: 18%;
      text-align: -webkit-center;
      margin: 25px auto;
      height: 7vw;
      width: 7vw;
      max-width: 120px;
      max-height: 120px;
    }
    .lvl-background {
      height: 95%;
    }
    #toolsmaker {
      height: 80%;
    }
    .jewels-space.joyas{
      height: 8vw;
      border-radius: 10px;
      width: 8vw;
      max-width: 200px;
      max-height: 200px;
    }
    #sendit.btn-success {
      color: #fff;
      background-color: #198754;
      border-color: #198754;
      width: 30%;
      margin: auto;
    }
    #recordstable {
      margin: 0px 5%;
      width: 85%;
    }
    #newuserform{
      padding-top: 10px;
    }
    a.icons-menu{
      animation-duration: 2s;
      animation-name: glowing;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      text-decoration: none;
      color: black;
      flex-shrink: 0;
      width: 100%;
      max-width: 25%;
      font-size: 23px;
      padding-right: 0;
      padding-left: 0;
      margin: 0px auto;
    }
    /* ----- contact ------ */
    .separators-contact{
      height: 5%;
    }
    #contactbackground{
      z-index: 6;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      border-radius: 5px;
    }
    .main-content-contact{
       height: 90%;
    }
    #form-contact{
       margin: 20px auto;
    }
    #floatingTextarea{
      height: 180px;
    }
    .panel-contact-buttons.btn{
      width: 100%;
    }
    #panel-contact-buttons div .btn{
      width: 100%;
    }
    .btn.btn-secondary.dropdown-toggle::after {
      content: none;
    }
    #main-menu-button{
      width: 100%;
      margin: 9px 0px 0px 0px;
      max-width: 90px;
      background-color: rgb(0 0 0 / 59%);
      float: right;
    }
    #dropdown-menu-style{
      margin: 10px 0px 0px 0px;
    }
    
    .form-floating .mb-3{
      height: 10px;
    }
    /*-----about us------*/

    #reigate-photo {
      width: 200px;
      height: 155px;
      float: left;
      margin: 13px;
    }

  }
  
  @media only screen and (max-width: 1400px) {
  
    /*index*/
    #start-button{
      font-size: 55px;
    }
    #image-background{
      background-size: 1400px;
    }
    /*game*/
    .text-squares {
      font-size: 25px;
      margin-bottom: 0rem;
    }
    .points{
      height: 50%;
    }
    .lvl-background {
      height: 99%;
    }
    #game-in-progres {
      height: 77%;
    }
    #recordstable {
      margin: 0px 5%;
      width: 85%;
  }
  }
  
  @media only screen and (max-width: 1200px) {
  
    /*index*/
    #start-button{
      font-size: 55px;
    }
    #image-background{
      background-size: 1400px;
    }
  
    /*game*/
    .text-squares {
      font-size: 25px;
      margin-bottom: 0rem;
    }
    .btn.btn-success{
      margin:10px auto;
    }
    

  }
  
  @media only screen and (max-width: 992px) {
  
    /*index*/
    #start-button{
      font-size: 30px;
    }
    #image-background{
      background-size: 800px;
    }
    /*game*/
    
    a.icons-menu {
      font-size: 22px;
    }
    .text-squares {
      font-size: 16px;
      margin-bottom: 0rem;
    }
    #panel-score-record {
      height: 15%;
    }
    #tittle {
    height: 10%;
    }
    .points {
      font-size: 17px;
    }
    #bracelettomake {
      height: 25%;
    }
    .btn.shapes {
      height: 7vw;
      width: 7vw;
      margin: 0px auto;
    }
    .btn.colors {
      border-radius: 12%;
      height: 5vw;
      width: 10vw;
    }
    .lvl-background {
      height: 98%;
    }
    #toolsmaker {
      height: 75%;
    }
    #game-in-progres {
      height: 76%;
    }
    #jewelscolors{
      height: 35%;
      margin: 0% auto;

    }
    #jewelstochose{
      height: 45%;

    }
    #userform{
      text-align: -webkit-center;
    }
    .levelandscore{
      text-align: center;
    }
    .tittlelvlandrecord{
      text-align: center;
    }
    #recordstable{
      margin: 0px 5%;
      width: 85%;
    }
    #userform{
      text-align: -webkit-center;
      text-align: center;
    }
    .levelandscore{
      text-align: center;
    }
    .tittlelvlandrecord{
      text-align: center;
    }
    #checker{
      margin:10px;
    }
    #sendit.btn-success{
      font-size: 10px;
    }
    .form-floating.mb-3.form-floating>.form-control, .form-floating>.form-select {
      height: calc(2.5rem + 2px);
      line-height: 1.25;
    }
    #contactbackground .form-floating>label {
      top:-7px;
    }
    #floatingTextarea {
      height: 70px;
    }
  } 
  
  @media only screen and (max-width: 768px) {
  
    /*index*/
    #start-button{
      font-size: 30px;
    }
    #image-background{
      background-size: 940px;
    }
    /*game*/
    a.icons-menu {
      font-size: 15px;
    }
    .text-squares {
      font-size: 12px;
    }
    #panel-score-record {
      height: 15%;
    }
    #tittle {
    height: 8%;
    }
    .points {
      font-size: 14px;
    }
    
    #bracelettomake {
      height: 20%;
    }
    .btn.shapes {
      height: 10vw;
      width: 10vw;
    }
    .btn.colors {
      border-radius: 12%;
      height: 7vw;
      width: 7vw;
    }
    .lvl-background {
      height: 98%;
    }
    #toolsmaker {
      height: 80%;
    }
    .jewels-space.joyas{
      height: 100%;
    }
    #newuserform{
      padding-top: 5px;
    }
    #recordstable{
      margin: 0px 5%;
      width: 85%;
    }
    #userform{
      text-align: -webkit-center;
      text-align: center;
    }
    .levelandscore{
      text-align: center;
    }
    .tittlelvlandrecord{
      text-align: center;
    }
    #checker{
      margin:10px;
    }
    #sendit.btn-success {
      width: 35%;
      font-size: 10px;
    }
    .form-floating.mb-3.form-floating>.form-control, .form-floating>.form-select {
      height: calc(2.5rem + 2px);
      line-height: 1.25;
    }
    #contactbackground .form-floating>label {
      top:-7px;
    }
    #floatingTextarea {
      height: 70px;
    }

  }
  
  @media only screen and (max-width: 575px) {
  
    /*index*/
    #start-button{
      font-size: 24px;
    }
  
    /*game*/  
    #text-squares {
      font-size: 12px;
      margin-bottom: 0rem;
    }
    .points{
      font-size: 20px;
    }
    #image-background{
      background-size: 600px;
    }
    #newuserform{
      padding-top: 0px;
    }
    #recordstable{
      margin: 0px 5%;
      width: 85%;
    }
    #userform{
      text-align: -webkit-center;
      text-align: center;
    }
    .levelandscore{
      text-align: center;
    }
    .tittlelvlandrecord{
      text-align: center;
    }
    #checker{
      margin:10px;
    }

  }
  
  /*--ANIMATION--*/
  
  @keyframes glowing {
    from{
      text-shadow: 1px 1px 20px white,-1px -1px 20px white,0px 1px 20px white,0px -1px 20px white;
    }
    to{
      text-shadow: 1px 1px 0px white,-1px -1px 0px white,0px 1px 0px white,0px -1px 0px white;
    }
  }
  
  @keyframes disapear-element {
    from{
      opacity: 1.0;
    }
    to{
      opacity: 0.0;
    }
  }
  
  @keyframes appear-element {
    from{
      opacity: 0.0;
    }
    to{
      opacity: 1.0;
    }
  }
  
  /*------game styling-------*/
  
  .lvl-background{
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
  }

  
  
  .spacer-top{
    color: white;
    border-top: solid 5px rgba(0,0,0,0);
  }
  
  #tittle{
    font-family: Ethnocentric;
  }
  
  #panel-score-record{
    font-family: Ethnocentric;
    color: white;
  }
  
  #game-in-progres{
    font-family: Ethnocentric;
    color: white;
  }
  
  .points{
      background-color: rgba(0,0,0,0.5);
      overflow: hidden;
      float: left;
      margin-left: 3%;
      border-radius: 3px;
      width: 13%;
  }
  
  #record{
    height: 100%;
  }
  
  #score{
    height: 100%;
  }
  
  .numbers-points{
    position: relative;
    top: 0px;
  }
  
  .numbers-record{
    position: relative;
    top: 0px;
  }
  
  #bracelettomake{
    width: 100%;
    border-radius: 5px;
  }
  #thebracelet{
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    transform: rotate3d(1,0,0,60deg);
  }
  #innerbracelet{
    height: 50vw;
    border: solid 1em black;
    width: 50vw;
    border-radius: 50%;
    transform: rotateZ(0deg);
  }
  .braceletjewels{
    transform: rotate3d(1,0,0,60deg);
  }
  .disapear{
    animation-duration: 1s;
    animation-name: disapear-element;
    opacity: 0;
  }
  .appear{
    animation-duration: 1s;
    animation-name: appear-element;
    opacity: 1;
  }
  .row.hidden{
    display: none;
    visibility: hidden;
  }
  .hidden{
    display: none;
    visibility: hidden;
  }
  .jewels-space{
    background-size: cover;
    background-position: center;
  }
  .btn.shapes{
    background-size: cover;
      border-radius: 6px;
  }
  .joyas{
    background-color: rgba(0,0,0,0.5);
  }
  .btn.colors{
    font-size: 0.5em;
    text-align: center;
    margin-top: auto;
  }
  .popup{
    display: inline;
    width: 13%;
    height: auto;
  }
  
  .hiddenforjewels{
    display: none;
    visibility: hidden;
  }