body {
    margin: auto;
}

#main-background{
    width: auto;
    max-height: 1080px;
    margin: auto -150px auto -150px;
}

svg{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
}

#animated-background{
    min-width: 360px;
    max-width: 1920px;
    overflow: hidden;
    background-image: url('../image/backgrounds/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}

#animated-background .row div{
    z-index: 3;
    width: 16.66vw;
    max-width: 320px;
    height: 100vh;
}

#animated-background .row .jewel{
    display: inline-block;
    background-image: url('../image/backgrounds/jewels/joyamoviendose.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background-color: antiquewhite;
}
