body {
    max-width: 1920px;
    height: auto;
    margin: auto;
}

#main-background{
    width: auto;
    max-height: 1400px;
    margin: auto -150px auto -150px;
}

svg{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
}

#animated-background{
    position: absolute;
}

#animated-background .row div{
    z-index: 3;
    background-color: red;
    border: solid 1px white;
    width: 16vw;
    height: 100vh;
}